@font-face {
  font-family: 'Joystix';
  src: url('fonts/joystix.ttf');
}

body {
  background: #fff;
  font-family: "Joystix";
  font-size: 12px;
}

#debug {
  background:green;
  text-decoration: none;
  position: absolute;
  width: 800px;
}